<footer class="mt-8 mb-8 sm:mt-8 sm:mb-10">

  <div class="container mx-auto flex justify-between items-center">
    <div class="text-xs text-gray-500 font-medium">
      {{@site.title}} &copy; {{date format="YYYY"}}
    </div>
    <div class="text-xs text-gray-400 font-medium">
      <p>
        Theme
        <a href="https://adhuham.com/" 
          target="_new" class="font-medium text-gray-600">Basically</a> 
        by
        <a href="https://adhuham.com/" 
          target="_new" class="font-medium text-gray-600">adhuham</a> 
      <p>

      <p class="mt-1 italic">
        Published with <a href="https://ghost.org/" target="_blank">Ghost</a>
      </p>
    </div>
  </div>

</footer>
