{{!< default}}

{{> header}} 

<main class="container mx-auto">
  <section class="font-inter" style="min-height: 60vh">
    <h1 class="text-4xl font-extrabold">{{statusCode}}</h1>
    <p class="text-lg text-gray-700 mb-5">{{message}}</p>
    <a class="text-sm font-medium" href="{{@site.url}}">Go to the front page →</a>
  </section>
</main>

{{> footer}}
